apiVersion: v1alpha1
kind: Setting
metadata:
  name: halo-theme-settings
spec:
  forms:
    - group: global
      label: 全局
      formSchema:
        - $formkit: select
          name: logo_type
          label: Logo 类型
          value: text
          options:
            - label: 文字
              value: text
            - label: 图片
              value: image
        - $formkit: text
          name: footer_text
          label: 页脚描述
          value: ""
        - $formkit: checkbox
          name: show_search_button
          label: 显示搜索按钮（占位）
          value: true
        - $formkit: checkbox
          name: show_color_toggle
          label: 显示明暗切换（占位）
          value: true
        - $formkit: checkbox
          name: show_login_button
          label: 显示登录按钮（占位）
          value: true
    - group: style
      label: 样式
      formSchema:
        - $formkit: select
          name: color_scheme
          label: 默认配色
          value: system
          options:
            - label: 跟随系统
              value: system
            - label: 深色
              value: dark
            - label: 浅色
              value: light
        - $formkit: checkbox
          name: enable_change_color_scheme
          label: 允许访客切换配色
          value: false
