<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="layout(title, content, head, bodyClass)"
  th:attr="data-scheme=${theme.config.style.color_scheme}, data-allow-scheme=${theme.config.style.enable_change_color_scheme}"
>
  <head>
    <th:block th:replace="~{modules/base-head :: base-head(title=${title})}" />
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>
  </head>
  <body class="theme-body" th:classappend="${bodyClass}">
    <div class="site-root">
      <th:block th:replace="~{modules/header}" />
      <main class="site-main container">
        <th:block th:replace="${content}" />
      </main>
      <th:block th:replace="~{modules/footer}" />
    </div>
  </body>
</html>
