<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(title = ${category.spec.displayName} + ' - ' + ${site.title}, content = ~{::content}, head = null, bodyClass = 'page-category')}"
>
  <th:block th:fragment="content">
    <section class="content-block">
      <header class="content-header">
        <h1 class="content-title" th:text="${category.spec.displayName}"></h1>
        <p class="content-desc" th:if="${not #strings.isEmpty(category.spec.description)}" th:text="${category.spec.description}"></p>
      </header>
      <div class="post-list" th:if="${posts.total gt 0}">
        <ul>
          <li th:each="post : ${posts.items}">
            <a class="post-link" th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
          </li>
        </ul>
      </div>
      <div class="empty-state" th:if="${posts.total == 0}">No posts</div>
    </section>
  </th:block>
</html>
