<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: layout(title = ${docTree.spec.title} + ' - ' + ${site.title}, content = ~{::content}, head = ~{::head}, bodyClass = 'page-doc page-docsme')}"
>
  <th:block th:fragment="head">
    <th:block th:replace="~{plugin:plugin-docsme:modules/style}" />
    <th:block th:replace="~{plugin:plugin-docsme:modules/script}" />
    <th:block th:replace="~{plugin:plugin-docsme:modules/plugin-scripts}" />
  </th:block>
  <th:block th:fragment="content">
    <div class="dm-container dm-container--embedded">
      <th:block
        th:replace="~{plugin:plugin-docsme:modules/header :: header(showThemeSwitcher = false)}"
      />
      <th:block th:replace="~{plugin:plugin-docsme:modules/doc :: doc(footer = null)}" />
    </div>
  </th:block>
</html>
